In [1]:
import pandas as pd
import json
import pymongo
import matplotlib.dates as mdates
from datetime import datetime, date
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import random
import cache_magic
from datetime import timedelta

pd.options.mode.chained_assignment = None

%cache magic is now registered in ipython

In [2]:
def data_import(include_mums=False):
    """Connects to database and creates dataframe containing all columns. Drops unneeded columns and sets timestamp
     datatype. Correct any incorrect time values, sets data times and sorts"""

    collection_list=['Times']
    
    if include_mums:
        collection_list.append('Mumsnet_Times')
    all_records = []

    # Connects to db and gets collection
    db = get_db()

    for collection in collection_list:
        records =list(db[collection].find())
        all_records.append(records)
    
    #Flattens list
    all_records = [val for sublist in all_records for val in sublist]
    
    df=pd.DataFrame(all_records)
    
    # Makes column to indicate which database times are from
    non_mums = ['Harvey Williams', 'Sazzle', 'Leah', 'Tom', 'Joe', 'George Sheen', 'Oliver Folkard'] 
    df['mum'] = np.where(df['user'].isin(non_mums), False, True)
    
    return df

In [3]:
def get_db(write=False):
    if write:
        connection_string = "admin_connection_string"

    else:
        connection_string = "connection_string"

    try:
        with open("local/pass.json") as file:
            file = json.loads(file.read())
            connection_string = file.get(connection_string)
            client = pymongo.MongoClient(
                connection_string)
            db = client["PlusWord"]
            return db
    except Exception as e:
        print(e)

In [4]:
def format_for_streamlit(df):
    """Makes df more readable, converts times into plottable numbers and sets index"""

    df = df[['load_ts', 'time', 'user']]
    df['time'] = df['time'].str.replace(r'(^\d\d:\d\d$)', r'00:\1', regex=True)
    df['load_ts'] = pd.to_datetime(df['load_ts'], format='%Y-%m-%d %H:%M:%S.%f')
    # df['user'] = df['user'].astype('category')
    df = df.sort_values(by=['load_ts'])
    df = df.rename(columns={'load_ts': 'timestamp'})
    df['time_delta'] = pd.to_timedelta(df['time'].astype('timedelta64[ns]'))
    df['time_delta_as_num'] = time_delta_to_num(pd.to_timedelta(df['time'].astype('string')))
    df['sub_time_delta_as_num'] = time_delta_to_num(pd.to_timedelta(df['timestamp'].dt.time.astype('string')))


    df = df.set_index('timestamp')
    df = df.sort_index(ascending=False)

    return df

In [5]:
def format_for_streamlit(df):
    """Makes df more readable, converts times into plottable numbers and sets index"""

    df = df[['load_ts', 'time', 'user', 'mum']]
    df['time'] = df['time'].str.replace(r'(^\d\d:\d\d$)', r'00:\1', regex=True)
    df['load_ts'] = pd.to_datetime(df['load_ts'], format='%Y-%m-%d %H:%M:%S.%f')
    # df['user'] = df['user'].astype('category')
    df = df.sort_values(by=['load_ts'])
    df = df.rename(columns={'load_ts': 'timestamp'})
    df['time_delta'] = pd.to_timedelta(df['time'].astype('timedelta64[ns]'))
    df['time_delta_as_num'] = time_delta_to_num(pd.to_timedelta(df['time'].astype('string')))
    df['sub_time_delta_as_num'] = time_delta_to_num(pd.to_timedelta(df['timestamp'].dt.time.astype('string')))


    df = df.set_index('timestamp')
    df = df.sort_index(ascending=False)

    return df

In [6]:
def time_delta_to_num(time_delta):
    """ Takes in time delta and converts it into a number for plotting"""

    # specify a date to use for the times

    zero_date = datetime(2022, 6, 20)

    zero_num = mdates.date2num(zero_date)

    # adds zero_data to timedelta to convert

    time_delta_plus_date = [zero_date + time_unit for time_unit in time_delta]

    # convert datetimes to numbers

    time_delta_as_num = [mins - zero_num for mins in mdates.date2num(time_delta_plus_date)]

    return time_delta_as_num

In [7]:
def spline_smooth(df, poly_value):
    """Smooths lines via interpolation and splines. Purely cosmetic"""

    df_spline = df.copy()

    df_spline['date_as_num'] = mdates.date2num(df_spline['timestamp'])

    x_smooth = np.linspace(df_spline['date_as_num'].min(), df_spline['date_as_num'].max(), poly_value)

    bspline = interpolate.make_interp_spline(df_spline['date_as_num'], df_spline['time_delta_as_num'])

    y_smooth = bspline(x_smooth)

    return x_smooth, y_smooth

In [8]:
def savgol_smooth(df, poly_value):
    """Smooths lines using a Savitzkyâ€“Golay filter"""

    df_savgol = df.copy()

    df_savgol['date_as_num'] = mdates.date2num(df_savgol['timestamp'])

    max_window = len(df_savgol)

    x_smooth = signal.savgol_filter(df_savgol['date_as_num'], max_window, poly_value)

    y_smooth = signal.savgol_filter(df_savgol['time_delta_as_num'], max_window, poly_value)

    return x_smooth, y_smooth

In [9]:
def y_axis_generator(max_y_value, unit):
    """Creates range for y axis from 0 to max_y_value then passes it to time_delta_to_num. Returns y axis values as
    plottable number"""

    y_axis_time_range = list(range(0, max_y_value, 1))

    y_axis_time_delta = pd.to_timedelta(y_axis_time_range, unit=unit)

    y_axis_time_num = time_delta_to_num(y_axis_time_delta)

    return y_axis_time_num

In [10]:
def calculate_streak(df):

    df_streak = df.copy()

    df_streak['date'] = pd.to_datetime(df_streak.index.date)

    df_streak = df_streak[['user', 'date']]

    users = df_streak['user'].unique()

    df_whole = pd.DataFrame()

    for user in users:
        df_each_user = df_streak[df_streak['user'] == user]

        df_each_user = df_each_user.sort_values('date').drop_duplicates(subset='date')
        df_each_user['diff'] = df_each_user["date"].diff().dt.days
        df_each_user['diff'] = df_each_user['diff'].fillna(0)

        df_each_user['streak'] = np.where(df_each_user['diff'] > 1, 0, df_each_user['diff'])
        streak_break = df_each_user[df_each_user['streak'] == 0]
        streak_break['streak_start'] = streak_break.index.date

        df_each_user = pd.merge_asof(df_each_user, streak_break['streak_start'],
                                     left_index=True, right_index=True,
                                     direction='backward')

        df_each_user['streak'] = (df_each_user['date'].dt.date - df_each_user['streak_start']).dt.days
        df_each_user['streak'] = df_each_user['streak'] + 1
        df_each_user = df_each_user.drop(columns=['streak_start', 'diff'])
        df_whole = pd.concat([df_whole, df_each_user])

    df_whole = df_whole.sort_values(by=['user'])

    return df_whole

In [11]:
df = data_import(include_mums=True)
df = format_for_streamlit(df)
df = calculate_streak(df)

In [12]:
df

                              user       date  streak
timestamp
2023-04-10 08:42:00   Albaniarocks 2023-04-10       1
2023-01-23 12:32:00   Albaniarocks 2023-01-23       2
2023-01-22 12:12:00   Albaniarocks 2023-01-22       1
2023-01-20 10:33:00   Albaniarocks 2023-01-20       2
2023-01-19 12:39:00   Albaniarocks 2023-01-19       1
...                            ...        ...     ...
2023-04-03 06:40:00  sanityisamyth 2023-04-03       1
2023-03-29 07:46:00  starfishmummy 2023-03-29       1
2023-06-01 08:56:00         xelous 2023-06-01       1
2023-05-25 10:03:00         xelous 2023-05-25       1
2023-05-26 08:34:00         xelous 2023-05-26       2

[4046 rows x 3 columns]

In [14]:
df = df.loc[df['date'] >= date.today() - timedelta(days=2)]
df

                                           user       date  streak
timestamp
2023-07-08 08:34:00.000            Albaniarocks 2023-07-08       1
2023-07-09 08:01:00.000            Albaniarocks 2023-07-09       2
2023-07-09 00:14:00.000  Drywhitefruitycidergin 2023-07-09       1
2023-07-09 14:09:00.000             Floralnomad 2023-07-09       1
2023-07-08 12:37:48.819            George Sheen 2023-07-08      10
2023-07-09 16:19:38.272         Harvey Williams 2023-07-09       1
2023-07-08 12:05:37.962                     Joe 2023-07-08      25
2023-07-09 16:19:30.041                     Joe 2023-07-09      26
2023-07-09 07:07:00.000  JoyDivisionOvenGlovesx 2023-07-09       1
2023-07-09 16:17:34.014          Oliver Folkard 2023-07-09       2
2023-07-08 16:16:48.354          Oliver Folkard 2023-07-08       1
2023-07-08 21:22:48.216                  Sazzle 2023-07-08       5
2023-07-09 07:06:00.000               Sunbird24 2023-07-09       1
2023-07-08 09:20:40.008                     Tom 2023-07-08       4
2023-07-09 10:10:21.552                     Tom 2023-07-09       5

In [20]:
print(date.today())

2023-07-09